<div class="list-container">
  <div class="inputs">
    <h3>Choose brand, profile type and time period to get posts</h3>

    <form [formGroup]="optionForm" (ngSubmit)="onSubmit()">

      <div class="form-group inline">
        <mat-form-field appearance="fill">
          <mat-label>Choose Brand</mat-label>
          <mat-select formControlName="brandName" (selectionChange)="onBrandSelected($event)">
            <mat-option *ngFor="let brand of brands" [value]="brand">{{brand.brandname}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <!-- <p class="instructions">Choose Profile</p> -->
        <div class="radios" >
          <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="profile">
            <mat-button-toggle 
            *ngFor="let profile of profiles; let i = index"
            [value]="profile">
            <i class="bi" [class]="'bi-'+profileDisplayNames[i]"></i> {{profileDisplayNames[i]}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="form-group inline range-picker">
        <mat-form-field appearance="fill">
          <mat-label>Enter Time Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input 
              matStartDate 
              #dateRangeStart 
              placeholder="Start date" 
              required 
              formControlName="dateStart">
            <input 
              matEndDate 
              #dateRangeEnd 
              placeholder="End date" 
              required 
              formControlName="dateEnd"
              (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
          </mat-date-range-input>
  
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

      </div>
      <button type="submit" class="btn btn-primary">Go</button>

    </form>

    <div class="post-container">
      <app-list-item 
        [posts]="posts" 
        [currentProfileType]="currentProfileType"
        [currentBrand]="currentBrand"></app-list-item>
    </div>

  </div>
</div>
