:root {
    --dark-blue: #15132e;
    --dark-blue-focused: #002163;

    --light-blue: #1987ff;
    --yellow: #f29f05;
    --turqoise: #04bfad;

    --background-grey: #f9f9f9;
    --white: #ffffff;
    --black: #000000;

    --red: #aa4a44;
    --green: #86b986;
}