<h4 *ngIf="posts.length == 0 && dates !== 0"> No posts during this period.</h4>
<div class="container" *ngIf="posts.length > 0">
  <h3>{{ currentBrand }}</h3>
  <div class="small" *ngFor="let post of posts">
    <mat-card class="example-card">
      <img src="data:image/png;base64, {{post.pictureBlob}}"  alt="no image available">
      <!-- <div> -->
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-subtitle>Platform: {{ post.profile_short_name}}</mat-card-subtitle>
            <mat-card-subtitle>Engagement: {{ post.engagement }}</mat-card-subtitle>
            <mat-card-subtitle>Created at: {{ post.created_time | date:'short'}}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
    
        <mat-card-content> <!--ngif-->
          <strong>Caption:</strong> {{ "No caption" || post.caption }} <!--| slice:0:110 }}{{ post.caption.length > 110 ? '...' : ''}}-->
        </mat-card-content>
      <!-- </div> -->
    </mat-card>
  </div>
</div>
