.container {
  margin: 2rem 0;
  background: var(--background-grey);
  width: 60%;

  padding: 1rem 0.5rem;
}

.small {
  display: flex;
  margin: 2rem 1rem;
}

mat-card {
  // display: flex !important;
  width: 90%;
}

// .mdc-card {
//   // flex-direction: row;
// }

img {
  -webkit-filter: grayscale(1);
  /* Webkit */
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* W3C */

  width:100%;
}

h3,
h6 {
  margin-left: 1rem;
}

h3 {
  color: var(--dark-blue);
}

h6 {
  color: var(--light-blue);
}

@media only screen and (max-width: 975px) {

  .container {
    width: 100%;
  }
}
